body {
  background-color: lightblue;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
.crop {
 height: 200px;
 width: 200px;
 overflow: hidden;
}
